.sidebar{
    position: absolute;
    width: 263px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #ffbc96;
    border: 1px solid #ffbc96;
    box-sizing: border-box;
}

.sidebar-header{
    position: absolute;
    width: 120;
    height: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.sidebar-list{
    padding-top:100px;
}

.body{
    position: absolute;
    left: 270px;
}