.sidebar{
    position: absolute;
    width: 263px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #ff7d31;
    border: 1px solid #ff7d31;
    box-sizing: border-box;
}

.sidebar-header{
    position: absolute;
    width: 120;
    height: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.sidebar-list{
    padding-top:100px;
}

.body{
    position: absolute;
    left: 270px;
}

/* CCS DEL INICIO */

.card-board1{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 38px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board2{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 325px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board3{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 632px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board4{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 919px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}