.sidebar{
    position: absolute;
    width: 263px;
    height: 950px;
    left: 0px;
    top: 0px;
    background: #ff7d31;
    border: 1px solid #ff7d31;
    box-sizing: border-box;
}

.sidebar-header{
    position: absolute;
    width: 120;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.boton-barra-menu-inicio{
    position: absolute;
    top: 100px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.boton-barra-menu-consulta{
    position: absolute;
    top: 160px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.boton-barra-menu-evaluacion{
    position: absolute;
    top: 220px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.boton-barra-menu-compras{
    position: absolute;
    top: 280px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.boton-barra-menu-recomendador{
    position: absolute;
    top: 340px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.boton-barra-menu-contrato{
    position: absolute;
    top: 400px;
    width: 182px;
    height: 35px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5)
}
.sidebar-list{
    padding-top:100px;
}

.body{
    position: absolute;
    left: 270px;
}


.side{
    display: inline-block;
    vertical-align: top;
}

/* CCS DEL INICIO */

.card-board1{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 38px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board2{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 325px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board3{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 632px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}
.card-board4{
    position: absolute;
    width: 220px;
    height: 74px;
    left: 919px;
    top: 38px;
    background: #ff7d31;
    backdrop-filter: blur(4px);
    border-radius: 5px;
}

/* CSS EVALUACION*/

.table-pers{
 width: 1000px;
}

.table-borders{
    border: 1px solid black;
}

.th, tr, td{
        padding: 15px;
        text-align: left;
        border: 1px black
}

/* CSS CONTRATO*/

.boton-seleccion-contrato{
    width: 150px;
    height: 30px;
    background: #ffc831;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 0px solid rgba(0,0,0,0.5);
    margin-left: 3em;
}

.lista-ingredientes{
    background: #9e9e9e
}

/* CSS COMPRA*/
.input-cantidad{
    width: 80px;
    height: 28px;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-left: 12px;
}
.dropdown-general{
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    margin-left: 15px;
}

/* CSS RECOMENDADOR*/
.body{
    position: absolute;
    left: 263px;
}
.body-recomendador{
    background: url(images/FondoRecomendador.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(5px);
    width: 1640px;
    height: 950px;
}
.titulo-pagina{
    position: absolute;
    top:5px;
    left: 15px;
    color: #000000;
    border-radius: 5px ;
}
.subtitulo-pagina{
    position: absolute;
    top:55px;
    left: 15px;
    color: #000000;
    border-radius: 5px ;
}
.dropdown1-recomendador{
    position: absolute;
    top: 100px;
    left: 669px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown2-recomendador{
    position: absolute;
    top: 175px;
    left: 669px;
    color: #000000;
    border-radius: 5px ;
}
.dropdown3-recomendador{
    position: absolute;
    top: 250px;
    left: 400px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown4-recomendador{
    position: absolute;
    top:  250px;
    left: 925px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown5-recomendador{
    position: absolute;
    top:  325px;
    left: 310px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown6-recomendador{
    position: absolute;
    top:  325px;
    left: 1000px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown7-recomendador{
    position: absolute;
    top:  400px;
    left: 220px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown8-recomendador{
    position: absolute;
    top:  400px;
    left: 1100px;
    color: #ffc831;
    border-radius: 5px ;
}
.dropdown-recomendador{
    backdrop-filter: blur(4px);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}